@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

#main {
  width: 100%;
  height: 100vh;
  background: #df3c75;
}

.navbar {
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbar .logo {
  display: flex;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
}

.navbar .logo-blue {
  color: #66d3e9;
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
}

.nav ul {
  display: flex;
  list-style: none;
}

.nav ul li {
  margin: 0 2rem;
  /* margin: 0 50px 0 50px ; */
}

.nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
}

.nav ul li a:hover {
  color: #fdc74b;
}

.nav-btn {
  display: flex;
}

.nav-btn .log-btn,
.nav-btn .sign-btn {
  color: #fff;
  padding: 10px 20px;
  margin: 0 10px;
  border: 2px solid#d22f68;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}

.nav-btn .log-btn a,
.nav-btn .sign-btn a {
  text-decoration: none;
  color: #fff;
}

.nav-btn .log-btn:hover,
.nav-btn .sign-btn:hover {
  background: linear-gradient(to right bottom, #fdc74b, #e17c23);
}

.hero {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.hero .hero-sub {
  width: 40%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-top {
  width: 100%;
  height: 50%;
}

.hero-top h1 {
  font-size: 6rem;
  font-weight: bold;
  color: #fff;
}

.hero-bottom {
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50vw;
  z-index: 1;
}

.hero-bottom img {
  width: 200px;
  height: 180px;
}

.hero-bottom p {
  font-size: 1.3rem;
  color: #fff;
}

.hero-sub-box {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.more-btn {
  width: 70%;
  height: 8vh;
  display: flex;
  border: 2px solid #d22f68;
  background: linear-gradient(to right bottom, #fdc74b, #e17c23);
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.more-btn h3 {
  font-size: 1rem;
  color: #fff;
}

.hero-img {
  width: 30%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-img img {
  width: 22vw;
  height: 90vh;
  z-index: 1;
}

.bottom-color::after {
  content: "";
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 28vh;
  background: #c32059;
  /* z-index: -1; */
}

#main2 {
  width: 100%;
  height: 90vh;
  background: #c32059;
  margin-top: -20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#main2 .hero2 {
  width: 100%;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#main2 .center {
  background-color: #c32059;
  width: 30vw;
  height: 50vh;
}

#main2 .left {
  width: 10vw;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

#main2 .left img {
  margin-top: 45px;
  width: 120px;
  height: 100px;
}

#main2 .center .center-top {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

#main2 .center .center-top h3 {
  font-size: 0.8rem;
  color: #fff;
  margin-bottom: 20px;
}


#main2 .center .center-top h1 {
  font-size: 3rem;
  color: #fff;
  margin-bottom: 20px;
}

#main2 .center .center-top p {
  font-size: 1.2rem;
  color: #fff;
  margin-bottom: 20px;
}

#main2 .center .center-bottom {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
}

#main2 .buttons-top {
  display: flex;
  width: 50%;
  justify-content: space-between;
  margin-top: 50px;
}

#main2 .buttons-bottom {
  display: flex;
  width: 25%;
  justify-content: space-between;
  margin-top: 50px;
}

#main2 .buttons-top .btn1,
#main2 .buttons-top .btn2 {
  border: 2px solid #9d1142;
  border-radius: 10px;
  margin: 1 0px;
  padding: 10px 12px;
}

#main2 .buttons-top .btn1 h3,
#main2 .buttons-top .btn2 h3 {
  font-size: 1rem;
  color: #fff;
  font-weight: 400;
}
#main2 .buttons-bottom .btn3,
#main2 .buttons-bottom .btn4 {
  border: 2px solid #9d1142;
  background-color: #9d1142;
  border-radius: 10px;
  margin: 1 0px;
  z-index: 1;
}
#main2 .buttons-bottom .btn3:hover,
#main2 .buttons-bottom .btn4:hover {
  border: 2px solid #fdc74b;
  background: linear-gradient(to right bottom, #fdc74b, #e17c23);
}

#main2 .buttons-top .btn1:hover,
#main2 .buttons-top .btn2:hover {
  border: 2px solid #fdc74b;
}

#main2 .right {
  z-index: 1;
}

#main2 .right img {
  width: 30vw;
  height: 80vh;
}

#main2 .main2-bottom-color {
  content: "";
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 28vh;
  background: #df3c75;
}

#main3 {
  width: 100%;
  height: 70vh;
  background: #df3c75;
  margin-top: -20px;
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
}

#main3 .hero3 {
  width: 100%;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#main3 .hero3 .box {
  padding: 20px 10px;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
  
}

#main3 .hero3 .box:hover {
  border: 2px solid #fdc74b;
  background-color: #bf1d56;
}


#main3 .hero3 h2 {
  text-align: center;
  font-size: 1rem;
  color: #fff;
  margin-bottom: 20px;
}

#main3 .hero3 img {
  width: 200px;
  height: 200px;
}

#main3 .hero3 .box2 {
  position: relative;
}

#main3 .hero3 .box2 .btn{
  position: absolute;
  bottom: -40px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 10vw;
  /* margin: 1 0px; */
  
}

#main3 .hero3 .box2 .btn h2:hover{
  border: 2px solid #fdc74b;
  background: linear-gradient(to right bottom, #fdc74b, #e17c23);
  z-index: 1;
}

#main3 .hero3 .box2 .btn h2{
  padding: 8px 5px;
  background: #9d1142;
  border-radius: 8px;
  font-size: 1rem;
  color: #fff;
  border: 2px solid #fdc74b;
  font-weight: 400;
}

#main4 {
  width: 100%;
  height: 100vh;
  background: #df3c75;
  margin-top: -20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#main4 .hero4 {
  width: 70%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #bf1d56;
  padding: 30px;
  border-radius: 30px;
}

#main4 .hero4 .top {
  display: flex;
  justify-content: space-evenly;
  
}

#main4 .hero4 .left {
  width: 50%;
  height: 70vh;
}

#main4 .hero4 .left img{
  width: 35vw;
  height: 70vh;
  margin-top: -70px;
}

#main4 .hero4 .right {
  width: 50%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#main4 .hero4 .right .text {
  width: 60%;
}

#main4 .hero4 .right h1 {
  font-size: 3rem;
  color: #fff;
  margin-bottom: 20px;
}

#main4 .hero4 .right p {
  font-size: 1rem;
  color: #fff;
  margin-bottom: 20px;
  line-height: 1.5;
}

#main4 .hero4 .right .btn {
  border: 2px solid #fdc74b;
  background: linear-gradient(to right bottom, #fdc74b, #e17c23);
  border-radius: 10px;
  margin: 1 0px;
  padding: 10px 12px;
  text-align: center;
}

#main4 .hero4 .right .btn a {
  text-decoration: none;
}

#main4 .hero4 .right .btn h3 {
  font-size: 1rem;
  color: #fff;
  font-weight: 600;
}

#main4 .bottom{
  width: 100%;
  height: 30%;
  margin-top: -30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #fff;
}

#main4 .bottom .btn-left ,
#main4 .bottom .btn-right {
  border: 2px solid #fdc74b;
  background: linear-gradient(to right bottom, #fdc74b, #e17c23);
  border-radius: 10px;
  margin: 1 0px;
  padding: 10px 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#main4 .bottom .btn-left img,
#main4 .bottom .btn-right img{
  width: 50px;
  height: 50px;
  /* margin-right: 10px; */
}



#main4 .bottom .rateing img {
  width: 40px;
  height: 40px;
  margin: 0 5px;
}

#main4 .hero4 .bottom .text1 h3 ,
#main4 .hero4 .bottom .text2 h3 {
  font-size: 0.7rem;
  letter-spacing: 1px;
}

#main4 .hero4 .bottom .text1 h2,
#main4 .hero4 .bottom .text2 h2{
  margin: 5px 0;
}

#main4 .hero4 .bottom .text1 h3:last-child,
#main4 .hero4 .bottom .text2 h3:last-child {
  font-size: 0.7rem;
  color: #fdc74b;
}  

#main4 .hero4 .rateing img:last-child{
  filter: invert(40%);
}

.footer {
  width: 100%;
  height: 15vh;
  background: #9d1142;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer .logo {
  display: flex;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  width: 20%;
  margin-left: 30px;
}

.footer .logo-blue {
  color: #66d3e9;
}

.footer .copyright {
  font-size: 0.7rem;
  color: #fff;
  margin-left: 10px;
  width: 10%;
}

.footer .footer-img {
  width: 15vw;
  margin-top: -55px;
}

.footer .footer-img img{
  width: 100%;
}

.footer .nav a{
  font-size: 1rem;
}

.footer .social {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 20%;
}

.footer .social ul {
  display: flex;
  list-style: none;
}

.footer .social ul li {
  margin: 0 10px;
}

.footer .social img {
  width: 30px;
  height: 30px;
}

.footer .social img:hover {
  border: #fff 2px solid;
  border-radius: 50%;
}

@media screen and (max-width: 568px) {

  .navbar .logo {
    font-size: 0.7rem;
  }

  .nav-btn .log-btn,
.nav-btn .sign-btn {
  font-size: 0.7rem;
}


  .nav {
    display: none;
  }
    
  .hero-top {
    width: 100%;
  }

  .hero-top h1 {
    font-size: 3rem;
  }

  .hero-img {
    margin-top: -10vh;
    width: 50%;
    height: 100%;
  }

  .hero-img img {
    width: 50vw;
    height: 50vh;
  }

  .hero .hero-sub {
    margin-top: 10vh;
  }

  .hero-bottom {
    width: 100%;
    height: 100%;
    margin-top: 15vh;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  
  .hero-bottom p {
    font-size: 1rem;
    margin: 10px 0;
  }

  .hero-bottom .more-btn {
    width: 90%;
    height: 5vh;
  }

  .hero-bottom .more-btn h3{
    font-size: 0.5rem;
  }

  .hero-bottom img {
    width: 80px;
    height: 80px;
    margin-left: -80px;
  }

  
  #main2 .hero2 {
    flex-direction: column;
    width: 100%;
    /* margin-top: 30vh; */
  }

  #main2 .hero2 .left {
    margin: 50px;
  }

  #main2 .hero2 .center {
    width: 80%;
    height: 100%;
    text-align: center;
  }

  #main2 .hero2 .center h1 {
    font-size: 2rem;
  }

  #main2 .hero2 .center p {
    font-size: 0.8rem;
  }


  #main2 .buttons-top .btn h3 {
    font-size: 0.8rem;
    color: #fff;
    font-weight: 600;
  }

  #main2 .buttons-bottom .btn {
    width: 40%;
    height: 5vh;
    border: 2px solid #fdc74b;
    background: linear-gradient(to right bottom, #fdc74b, #e17c23);
    border-radius: 10px;
    margin: 1 0px;
    padding: 10px 12px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #main2 .hero2 .right {
    width: 80%;
  }

  #main2 .hero2 .right img{
    width: 100%;
    height: 100%;
  }

  #main2 .buttons-top ,
  #main2 .buttons-bottom {
    display: none;
  }

  #main3 .hero3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 30vh;
  
  }

  #main3 .hero3 .box img{
    width: 70%;
    height: 70%;
  }

  #main3 .hero3 .box2 .btn{
    width: 40%;
    height: 5vh;
    bottom: -10px;

  }








}