@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

#main {
  width: 100%;
  height: 100vh;
  background: #df3c75;
}

.navbar {
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbar .logo {
  display: flex;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
}

.navbar .logo-blue {
  color: #66d3e9;
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
}

.nav ul {
  display: flex;
  list-style: none;
}

.nav ul li {
  margin: 0 2rem;
  /* margin: 0 50px 0 50px ; */
}

.nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
}

.nav-btn {
  display: flex;
}

.nav-btn .log-btn,
.nav-btn .sign-btn {
  color: #fff;
  padding: 10px 20px;
  margin: 0 10px;
  border: 2px solid#d22f68;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}

.nav-btn .log-btn a,
.nav-btn .sign-btn a {
  text-decoration: none;
  color: #fff;
}

.nav-btn .log-btn:hover,
.nav-btn .sign-btn:hover {
  background: linear-gradient(to right bottom, #fdc74b, #e17c23);
}

.hero {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.hero .hero-sub {
  width: 40%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-top {
  width: 100%;
  height: 50%;
}

.hero-top h1 {
  font-size: 6rem;
  font-weight: bold;
  color: #fff;
}

.hero-bottom {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-bottom {
  width: 50vw;
  z-index: 1;
}

.hero-bottom img {
  width: 200px;
  height: 180px;
}

.hero-bottom p {
  font-size: 1.3rem;
  color: #fff;
}

.hero-sub-box {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.more-btn {
  width: 70%;
  height: 8vh;
  display: flex;
  border: 2px solid #d22f68;
  background: linear-gradient(to right bottom, #fdc74b, #e17c23);
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.more-btn h3 {
  font-size: 1rem;
  color: #fff;
}

.hero-img {
  width: 30%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-img img {
  width: 22vw;
  height: 90vh;
  z-index: 1;
}

.bottom-color::after {
  content: "";
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 28vh;
  background: #c32059;
  /* z-index: -1; */
}

#main2 {
  width: 100%;
  height: 90vh;
  background: #c32059;
  margin-top: -20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#main2 .hero2 {
  width: 100%;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#main2 .center {
  background-color: #c32059;
  width: 30vw;
  height: 50vh;
}

#main2 .left {
  width: 10vw;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

#main2 .left img {
  margin-top: 45px;
  width: 120px;
  height: 100px;
}

#main2 .center .center-top {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

#main2 .center .center-top h3 {
  font-size: 0.8rem;
  color: #fff;
  margin-bottom: 20px;
}


#main2 .center .center-top h1 {
  font-size: 3rem;
  color: #fff;
  margin-bottom: 20px;
}

#main2 .center .center-top p {
  font-size: 1.2rem;
  color: #fff;
  margin-bottom: 20px;
}

#main2 .center .center-bottom {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
}

#main2 .buttons-top {
  display: flex;
  width: 50%;
  justify-content: space-between;
  margin-top: 50px;
}

#main2 .buttons-bottom {
  display: flex;
  width: 25%;
  justify-content: space-between;
  margin-top: 50px;
}

#main2 .buttons-top .btn1,
#main2 .buttons-top .btn2 {
  border: 2px solid #9d1142;
  border-radius: 10px;
  margin: 1 0px;
  padding: 10px 12px;
}

#main2 .buttons-top .btn1 h3,
#main2 .buttons-top .btn2 h3 {
  font-size: 1rem;
  color: #fff;
  font-weight: 400;
}
#main2 .buttons-bottom .btn3,
#main2 .buttons-bottom .btn4 {
  border: 2px solid #9d1142;
  background-color: #9d1142;
  border-radius: 10px;
  margin: 1 0px;
  z-index: 1;
}
#main2 .buttons-bottom .btn3:hover,
#main2 .buttons-bottom .btn4:hover {
  border: 2px solid #fdc74b;
  background: linear-gradient(to right bottom, #fdc74b, #e17c23);
}

.btn3 h2,
.btn4 h2 {
  margin: 5px 15px;
  font-size: 2rem;
  color: #fff;
}

#main2 .buttons-top .btn1:hover,
#main2 .buttons-top .btn2:hover {
  border: 2px solid #fdc74b;
}

#main2 .right {
  z-index: 1;
}

#main2 .right img {
  width: 30vw;
  height: 80vh;
}

#main2 .main2-bottom-color {
  content: "";
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 28vh;
  background: #df3c75;
}

#main3 {
  width: 100%;
  height: 60vh;
  background: #df3c75;
  margin-top: -20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#main3 .hero3 {
  width: 100%;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#main3 .hero3 .box {
  padding: 20px 10px;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
  
}

#main3 .hero3 .box:hover {
  border: 2px solid #fdc74b;
  background-color: #bf1d56;
}


#main3 .hero3 h2 {
  text-align: center;
  font-size: 1rem;
  color: #fff;
  margin-bottom: 20px;
}

#main3 .hero3 img {
  width: 200px;
  height: 200px;
}

#main3 .hero3 .box2 {
  position: relative;
}

#main3 .hero3 .box2 .btn{
  position: absolute;
  bottom: -40px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 10vw;
  /* margin: 1 0px; */
  
}

#main3 .hero3 .box2 .btn h2:hover{
  border: 2px solid #fdc74b;
  background: linear-gradient(to right bottom, #fdc74b, #e17c23);
  z-index: 1;
}

#main3 .hero3 .box2 .btn h2{
  padding: 8px 5px;
  background: #9d1142;
  border-radius: 8px;
  font-size: 1rem;
  color: #fff;
  border: 2px solid #fdc74b;
  font-weight: 400;
}





